.container {
  display: grid;
  height: calc(100vh - 6rem);
  max-width: 100%;
  color: var(--text-main);
  grid-template-areas:
    "primaryBar activityBar tabs"
    "primaryBar activityBar codeBody";
  grid-template-rows: 2.5rem 1fr;
  grid-template-columns: 4.25rem 15rem 1fr;
}


.primaryBar {
  grid-area: primaryBar;
  height: 100%;
  border-right: 1px solid var(--border-grey);
}

.activityBar {
  grid-area: activityBar;
  border-right: 1px solid var(--border-grey);
}

.tabs {
  grid-area: tabs  ;
  border-bottom: 1px solid var(--border-grey);
}

.codeBody {
  grid-area: codeBody;
}