@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --bg-main: #011627;
  --bg-dark: #011221;
  --text-main: #607b96;
  --text-secondary: #465e77;
  --orange: #fea55f;
  --border-grey: #607b96;
  --border-secundary: #1e2d3d;
  --border-porple: #5565e8;
}

html,
body {
  background-color: #011627;
  padding: 0;
  margin: 0;
  font-family: -apple-system, Fira Code, Roboto, sans-serif;
  font-size: 0.875rem;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  cursor: pointer;
}

button:hover {
  filter: brightness(120%);
}

* {
  box-sizing: border-box;
}

/* Scroll bar hidden ########################### */
::-webkit-scrollbar {
  width: 1.625rem;
  height: 100%;
}

::-webkit-scrollbar-track {
  background: #011627;
}

::-webkit-scrollbar-thumb {
  background: #607b96;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}