.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: var(--bg-main);

  header {
    display: flex;
    height: 3rem;
    width: 100vw;
    align-items: center;
    border-bottom: 1px solid var(--border-grey);

    ul {
      li:first-child {
        height: 100%;
        padding-right: 9.625rem;
        font-family: "Fira Code", "Roboto", sans-serif;
        font-size: 1rem;
        color: var(--main);
      }
      li {
        display: inline;
        border-left: 1px solid var(--border-grey);
        a {
          height: 100%;
          padding: 2rem;
          // color: var(--main);
          :hover {
            color: var(--white);
            border-bottom: 2px solid var(--orange);
          }
        }
      }
      :last-child {
        float: right;
        border-right: 0 0 0 1px solid var(--border-grey);
      }
    }
  }
}
